body {
  background-image: url("şahmelek.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}
#birinciBölüm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.b1 {
  padding: 10px;
}
.fotograf {
  justify-content: center;
  width: 90%;
  flex: 3;
  border-radius: 20px;
}
.sosyalMedya {
  border: 1p solid;
  flex: 1;
}
.yetenekler {
  background-color: white;
  flex: 5;
}

#ikinciBölüm {
  text-align: center;
  background-color: coral;
}
#ücüncüBölüm {
  color: white;
  background-color: rgb(32, 145, 173);
}

#sinan {
  margin-top: 10px;
  font-size: 24px;

  text-align: center;
}

.yetenekler img {
  height: 40px;
  width: 40px;
}

#tinaz {
  width: 40px;
}

.silici {
  list-style-type: none;
}

.snap {
  width: 40px;
}

#kuskus{
  margin-top: 10px;
  font-size: 24px;

  text-align: center; 
}
.ayar{
  padding: 5px;
  border: 5px;
  margin: 5px;
}